body {
  background-size: 100%;
  height: 3000px;
  overflow-x: hidden;
  background: #000 url(../img/bg.png) no-repeat;
}
.navtop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 99;
  height: 80px;
  width: 100%;
  background-color: rgba(25, 25, 25, 0.8);
}
.navtop .logobg {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 14px;
  height: 54px;
  width: 328px;
}
.navtop .logobg .logo {
  display: block;
}
.navtop .logobg .mlogo {
  display: block;
  width: 120px;
  height: 54px;
  background: url(../img/main-logo.png) no-repeat -85px 3px;
}
.navtop ul {
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 806px;
}
.navtop ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  float: left;
  padding: 16px 13px;
  height: 80px;
  width: 80px;
  color: #464441;
  cursor: pointer;
}
.navtop ul li p {
  display: block;
  font-size: 16px;
  color: #6e6a63;
}
.navtop ul li:last-child {
  width: 100px;
}
.navtop ul li:first-child {
  border-bottom: 2px solid #c39b5e;
}
.navtop ul li:first-child p {
  color: #c39b5e;
}
.navtop ul li:hover {
  border-bottom: 2px solid #c39b5e;
}
.navtop ul li:hover p {
  color: #c39b5e;
}
.navtop .login {
  width: 166px;
  margin-right: 160px;
  cursor: pointer;
}
.navtop .login span {
  float: left;
  display: block;
  width: 44px;
  height: 44px;
  margin-right: 7px;
  border: 1px solid #f3c258;
  border-radius: 50%;
  background: url(../img/下載.png);
}
.navtop .login h4 {
  font-size: 16px;
  color: #fff;
}
.navtop .login p {
  color: #7a7c85;
}
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 830px;
}
.banner .banner-threed {
  width: 4070px;
  height: 600px;
}
.banner .banner-threed .swiper-slide {
  position: relative;
  filter: grayscale(100%);
}
.banner .banner-threed .swiper-slide img {
  width: 1000px;
  height: 600px;
}
.banner .banner-threed .swiper-slide .banner-slide-box {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 1000px;
  height: 200px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.85);
}
.banner .banner-threed .swiper-slide .banner-slide-box h3 {
  font-size: 35px;
  font-weight: normal;
  margin-top: 30px;
  margin-bottom: 12px;
  color: #fff;
}
.banner .banner-threed .swiper-slide .banner-slide-box h3 span {
  color: #c39b5e;
}
.banner .banner-threed .swiper-slide .banner-slide-box p {
  font-size: 15px;
  color: #fff;
}
.banner .banner-threed .swiper-slide .banner-slide-box p:last-child {
  margin-top: 20px;
  color: #8f897f;
}
.banner .banner-threed .swiper-pagination {
  bottom: -48px;
}
.banner .banner-threed .swiper-pagination .my-bullet-active {
  background-color: #c39b5e !important;
}
.pifu {
  position: relative;
  width: 1400px;
  margin: 0 auto;
  height: 1180px;
}
.pifu .pifu-top {
  width: 100%;
  height: 165px;
  margin-top: 21px;
}
.pifu .pifu-top .pifu-top-box {
  position: relative;
  width: 172px;
  height: 100px;
  margin: 0 auto;
  padding-top: 6px;
  border-bottom: 1px solid #c39b5e;
  text-align: center;
}
.pifu .pifu-top .pifu-top-box i {
  display: inline-block;
  width: 35px;
  height: 35px;
  background: url(../img/icon-bg.png) -256px -14px;
}
.pifu .pifu-top .pifu-top-box h4 {
  font-size: 30px;
  color: #b98c52;
}
.pifu .pifu-top .pifu-top-box::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 82px;
  width: 4px;
  height: 4px;
  background-color: #000;
  transform: rotate(45deg);
  border: 1px solid #b98c52;
}
.pifu .pifu-main {
  position: absolute;
  left: 1400px;
  width: 1400px;
  height: 700px;
  background: url(../img/m1.jpg);
}
.pifu .pifu-main .pifu-main-left {
  position: absolute;
  left: -1900px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 490px;
  height: 100%;
  color: #c39b5e;
  background-color: rgba(0, 0, 0, 0.8);
}
.pifu .pifu-main .pifu-main-left .pifu-main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 450px;
  height: 665px;
  padding-left: 20px;
  padding-bottom: 35px;
  border-left: 1px solid #1e201e;
  border-right: 1px solid #1e201e;
}
.pifu .pifu-main .pifu-main-left .pifu-main-content h3 {
  display: block;
  width: 106px;
  height: 110px;
  line-height: 55px;
  font-size: 50px;
}
.pifu .pifu-main .pifu-main-left .pifu-main-content span {
  display: block;
  text-align: center;
  height: 27px;
  line-height: 27px;
  width: 101px;
  border: 1px solid #c39b5e;
  border-radius: 10px;
  font-size: 14px;
}
.pifu .pifu-main .pifu-main-left .pifu-main-content p {
  font-size: 20px;
  color: #fff;
}
.pifu .pifu-main .pifu-main-left .pifu-main-content p em {
  display: block;
  float: left;
  height: 26px;
  width: 26px;
  margin-right: 10px;
  background: url(../img/icon-bg.png) -153px -17px;
}
.pifu .pifu-main .pifu-main-left .pifu-main-content .gifbox {
  width: 402px;
  height: 227px;
  border: 1px solid #5f4f39;
}
.pifu .pifu-main .pifu-main-left .pifu-main-content .gifbox img {
  width: 100%;
  height: 100%;
}
.pifu .pifu-main .pifu-main-left .pifu-main-content .chakan {
  width: 402px;
  text-align: center;
  height: 76px;
  line-height: 76px;
  border: 1px solid #c39b5e;
  background-color: #000;
  margin-top: 80px;
  overflow: hidden;
}
.pifu .pifu-main .pifu-main-left .pifu-main-content .chakan p {
  color: #c39b5e;
  font-size: 19px;
  cursor: pointer;
}
.pifu .pifu-main .pifu-main-left .pifu-main-content .chakan:hover p {
  transition: all 0.3s;
  transform: translateY(-100%);
}
.pifu .pifu-buttom {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
  margin-bottom: 90px;
  width: 100%;
  height: 174px;
}
.pifu .pifu-buttom .pifu-buttom-main {
  position: relative;
  width: 340px;
  height: 174px;
}
.pifu .pifu-buttom .pifu-buttom-main img {
  width: 100%;
  height: 100%;
}
.pifu .pifu-buttom .pifu-buttom-main span {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
}
.pifu .pifu-buttom .pifu-buttom-main .pifu-buttom-box {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #af995d;
  opacity: 0;
}
.pifu .pifu-buttom .pifu-buttom-main .pifu-buttom-box h4 {
  font-weight: normal;
  color: #af995d;
  font-size: 20px;
}
.pifu .pifu-buttom .pifu-buttom-main .pifu-buttom-box p {
  font-size: 14px;
  color: #94918a;
}
.pifu .pifu-buttom .pifu-buttom-main .pifu-buttom-box p:last-child {
  color: #7b7872;
}
.pifu .pifu-buttom .pifu-buttom-main:hover {
  overflow: hidden;
}
.pifu .pifu-buttom .pifu-buttom-main:hover img {
  transition: all 0.5s;
  transform: scale(1.1);
}
.pifu .pifu-buttom .pifu-buttom-main:hover .pifu-buttom-box {
  transition: all 0.5s;
  opacity: 1;
}
.pifu .pifu-buttom .pifu-buttom-main:hover span {
  display: none;
}
.pifu .qita {
  width: 100%;
  height: 600px;
}
.pifu .qita .qita-left {
  overflow: hidden;
  margin-right: 20px;
  float: left;
  width: 700px;
  height: 100%;
}
.pifu .qita .qita-right {
  float: left;
  width: 680px;
  height: 290px;
  overflow: hidden;
}
.pifu .qita .qita-right:last-child {
  margin-top: 20px;
}
.pifu .qita > div:hover img {
  transition: all 0.5s;
  transform: scale(1.1);
}
.yinxio {
  position: relative;
  width: 1400px;
  margin: 0 auto;
  height: 1180px;
}
.yinxio .pifu-top {
  width: 100%;
  height: 165px;
  margin-top: 21px;
}
.yinxio .pifu-top .pifu-top-box {
  position: relative;
  width: 172px;
  height: 100px;
  margin: 0 auto;
  padding-top: 6px;
  border-bottom: 1px solid #c39b5e;
  text-align: center;
}
.yinxio .pifu-top .pifu-top-box i {
  display: inline-block;
  width: 35px;
  height: 35px;
  background: url(../img/icon-bg.png) -100px -14px;
}
.yinxio .pifu-top .pifu-top-box h4 {
  font-size: 30px;
  color: #b98c52;
}
.yinxio .pifu-top .pifu-top-box::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 82px;
  width: 4px;
  height: 4px;
  background-color: #000;
  transform: rotate(45deg);
  border: 1px solid #b98c52;
}
.yinxio .pifu-main {
  position: absolute;
  left: 1400px;
  width: 1400px;
  height: 700px;
  background: url(../img/m2.jpg);
}
.yinxio .pifu-main .pifu-main-left {
  position: absolute;
  left: -1900px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 490px;
  height: 100%;
  color: #c39b5e;
  background-color: rgba(0, 0, 0, 0.8);
}
.yinxio .pifu-main .pifu-main-left .pifu-main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 450px;
  height: 665px;
  padding-left: 20px;
  padding-bottom: 35px;
  border-left: 1px solid #1e201e;
  border-right: 1px solid #1e201e;
}
.yinxio .pifu-main .pifu-main-left .pifu-main-content h3 {
  display: block;
  width: 106px;
  height: 110px;
  line-height: 55px;
  font-size: 50px;
}
.yinxio .pifu-main .pifu-main-left .pifu-main-content span {
  display: block;
  text-align: center;
  height: 27px;
  line-height: 27px;
  width: 101px;
  border: 1px solid #c39b5e;
  border-radius: 10px;
  font-size: 14px;
}
.yinxio .pifu-main .pifu-main-left .pifu-main-content p {
  font-size: 20px;
  color: #fff;
}
.yinxio .pifu-main .pifu-main-left .pifu-main-content p em {
  display: block;
  float: left;
  height: 26px;
  width: 26px;
  margin-right: 10px;
  background: url(../img/icon-bg.png) -153px -17px;
}
.yinxio .pifu-main .pifu-main-left .pifu-main-content .gifbox {
  width: 402px;
  height: 227px;
  border: 1px solid #5f4f39;
}
.yinxio .pifu-main .pifu-main-left .pifu-main-content .gifbox img {
  width: 100%;
  height: 100%;
}
.yinxio .pifu-main .pifu-main-left .pifu-main-content .chakan {
  width: 402px;
  text-align: center;
  height: 76px;
  line-height: 76px;
  border: 1px solid #c39b5e;
  background-color: #000;
  margin-top: 80px;
  overflow: hidden;
}
.yinxio .pifu-main .pifu-main-left .pifu-main-content .chakan p {
  color: #c39b5e;
  font-size: 19px;
  cursor: pointer;
}
.yinxio .pifu-main .pifu-main-left .pifu-main-content .chakan:hover p {
  transition: all 0.3s;
  transform: translateY(-100%);
}
.yinxio .pifu-buttom {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
  margin-bottom: 90px;
  width: 100%;
  height: 174px;
}
.yinxio .pifu-buttom .pifu-buttom-main {
  position: relative;
  width: 340px;
  height: 174px;
}
.yinxio .pifu-buttom .pifu-buttom-main img {
  width: 100%;
  height: 100%;
}
.yinxio .pifu-buttom .pifu-buttom-main span {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
}
.yinxio .pifu-buttom .pifu-buttom-main .pifu-buttom-box {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #af995d;
  opacity: 0;
}
.yinxio .pifu-buttom .pifu-buttom-main .pifu-buttom-box h4 {
  font-weight: normal;
  color: #af995d;
  font-size: 20px;
}
.yinxio .pifu-buttom .pifu-buttom-main .pifu-buttom-box p {
  font-size: 14px;
  color: #94918a;
}
.yinxio .pifu-buttom .pifu-buttom-main .pifu-buttom-box p:last-child {
  color: #7b7872;
}
.yinxio .pifu-buttom .pifu-buttom-main:hover {
  overflow: hidden;
}
.yinxio .pifu-buttom .pifu-buttom-main:hover img {
  transition: all 0.5s;
  transform: scale(1.1);
}
.yinxio .pifu-buttom .pifu-buttom-main:hover .pifu-buttom-box {
  transition: all 0.5s;
  opacity: 1;
}
.yinxio .pifu-buttom .pifu-buttom-main:hover span {
  display: none;
}
